*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to right, #FFEFBA, #FFFFFF);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
}
a{
    text-decoration: none;
}
p{
    padding: 1rem;
}
header{
    height: 3rem;
}
.container-btnMenu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1000;
}
.fa-bars{
    color: #fff;
    font-size: 1.4rem;
    margin-right: .5rem;
    cursor: pointer;
}
.fa-home{
    display: none;
}
.fa-id-badge{
    display: none;
}
nav{
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #000;
}
.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: translateX(100%);
    transition: all .5s;
    z-index: 500;
    padding: 0;
    margin-top: -3rem;
}
.menu li{
    display: block;
    padding: 2.5rem 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}
.menu li a{
    color: #fff;
}
.menu li:hover a{
    color: #555;
}
.menu li:hover{
    border-bottom: 1px solid #fff;
}
.mostrar{
    transform: translateX(0);
    opacity: 1;
}

/* Clase para evitar scroll al abrir el menu desplegable de mobile */

.noScroll{
    overflow: hidden;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.img-container{
    width: 100%;
    height: 200px;
}
.img-container img{
    width: 100%;
    height: 100%;
    transition: all 1.5s;
    z-index: -1;
    position: relative;
}
.info{
    margin-top: 1rem;
    padding: 1rem;
    transition: all 1s;
}
.info h2{
    text-align: center;
    margin-bottom: .6rem;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
}
.info p{
    text-align: justify;
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-lg{
    width: 100px;
    height: 30px;
    font-size: .8rem;
    padding: 0 1rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
}
.btn-lg a{
    color: #000;
}
.oculto{
    opacity: 0;
    transform: translateX(-100%);
}
.aparece{
    transform: translateX(0);
    opacity: 1;
}
.search-container{
    padding: 4rem 2rem;
    width: 100%;
    height: auto;
}
.search{
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    border-color: #000;
}


/* -----------------------  DESKTOP  ---------------------------- */


@media screen and (min-width: 1024px) {
    nav{
        position: unset;
        background-color: unset;
    }
    .container-btnMenu{
        justify-content: start;
        background-color: #000;
        position: fixed;
        top: 0;
        height: 3rem;
        width: 100vw;
        margin-left: -1rem;
    }
    .fa-bars{
        padding: 0;
        margin: 0;
    }
    .container-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 3.8rem;
        height: 100vh;
        flex-direction: column;
    }
    .menu{
        opacity: 1;
        transform: translateX(0);
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    body{
        margin-top: 3rem;
        margin-left: 3.8rem;
        padding: 1rem;
    }
    .menu li{
        padding: .5rem 1.5rem;
        margin-left: 3rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .fa-home{
        font-size: 2rem;
    }
    .fa-id-badge{
        font-size: 2rem;
    }
    .cards-container{
        flex-direction: row;
        padding: 0 3rem;
    }
    .cards{
        margin: 0 1.5rem;
        box-sizing: border-box;
    }
    .info{
        background-color:#4f4e4d   ;
        border-radius: 0 0 10px 10px;
        margin: 0;
        color: #fff;
    }
    .info h2{
        padding: 0;
        margin: .5rem 0 0 0;
    }
    .container-btn{
        margin-bottom: 1rem;
    }
}
