@import "_variables";
@import "_footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: url(../assets/img/fondo/fondo.jpg);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
.nav-mobile{
    width: 100%;
    position: relative;

    @media screen and (min-width: 1280px) {
        display: none;
    }
    .menu-btn{
        position: fixed;
        right: 0;
        top: 0;
        padding: .5rem;
        cursor: pointer;
        z-index: 200;
        @media screen and (min-width: 1280px) {
            visibility: hidden;
        }
        
        .fa-bars{
            color: $color-black;
            width: 100%;
            height: 100%;
            font-size: 1.7rem;
            padding: 10px;
        }
        .fa-times{
            color: $color-white;
            width: 100%;
            height: 100%;
            font-size: 2rem;
            padding: 10px;
            transition: transform ease 500ms;

            &:hover{
                transform: rotate(90deg);
            }
        }
    }
    .list{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        height: 100vh;
        width: 80%;
        gap: 2.5rem;
        letter-spacing: 2px;
        background-color: $color-black;
        z-index: 100;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        border-radius: 20px 0 0 20px;
        box-shadow: $shadow-1;
        transition: ease-out all 500ms;
        @media screen and (min-width: 1280px) {
            visibility: hidden;
        }
    
        .link{
            text-decoration: none;
            color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover .list__item{
                color: #444;
            }
            &:hover .icons{
                color: #444;
            }
            
            .icons{
                color: $color-white;
                font-size: 26px;
                height: 31px;
            }
        }
        &__item{
            text-transform: uppercase;
            color: $color-white;
            font-size: 24px;
            margin: 0;
            margin-left: 14px;
            padding: 0;
            vertical-align: bottom;
        }
    }
}
.login-form{
    background-color: rgba($color: #000000, $alpha: .9);
    border-radius: $border-radius;
    padding: 2rem;
    width: 40%;
    box-shadow: $shadow-1;
    position: fixed;
    top: 5rem;
    z-index: 200;

    .login-form-title{
        color: $color-white;
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
    hr{
        opacity: .9;
        background-color: $color-white;
        margin: .8rem 0;
        margin-bottom: 1.5rem;
    }
    .mb-3{
        .form-label{
            color: $color-white;
            font-size: 15px;
        }
    }
}
.nav-desktop{
    display: none;
    position: relative;
    @media screen and (min-width: 1280px){
        display: block;
    }
    .menu-desktop{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 1rem 3rem;
        gap: 3rem;
        width: 100%;
        list-style: none;

        .list-item{
            font-size: 1.8rem;
            text-decoration: none;
            margin: 0;
            padding: 0;
            padding-bottom: 4px;
            border-bottom: 2px solid transparent;
            transition: transform ease-out 150ms;

            &:hover{
                transform: scale(1.1);
                border-bottom: 2px solid $color-white;
            }

            a{
                text-decoration: none;
                color: rgba($color: #fff, $alpha: .92);
                text-shadow: $txt-shadow;
                margin: 0;

                &:hover{
                    color: $color-white;
                    filter: brightness(100%);
                }

                i{
                    margin-right: .5rem;
                    font-size: 1.8rem;
                }
            }
        }
    }
}
.title{
    color: $color-white;
    text-align: center;
    font-size: 40px;
    text-shadow: $txt-shadow;
    position: absolute;
    left: 2rem;
    padding: 1rem 0;
    margin: 0;

    &::after{
        content: "AR.";
        color: rgb(200, 11, 43);
        font-size: 40px;
        text-shadow: $txt-shadow;
    }
}
main{
    .search-container{
        width: 85%;
        height: 4.5rem;
        margin: 6.5rem auto 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #fff, $alpha: .85);
        border-radius: $border-radius;

        @media screen and (min-width: 1280px) {
            width: 50rem;
            margin: 5rem auto;
            margin-bottom: 7rem;
        }
    
        .search{
            padding: 0rem 1.5rem;
            padding-right: 1rem;
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.3rem;
            color: #333;
            border-radius: 0;
            outline: none;

            &:focus{
                background-color: transparent;
            }
            &:focus ~ .fa-search{
                color: $color-black;
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }

            @media screen and (min-width: 1280px) {
                padding: 0rem 2rem;
            }
        }
        .fa-search{
            margin: 0;
            padding: 0;
            margin-right: 1.5rem;
            margin-left: auto;
            font-size: 1.5rem;
            cursor: pointer;
            color: #999;
            transform: translateX(80px);
            opacity: 0;
            visibility: hidden;
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 350ms;
            

            @media screen and (min-width: 1280px) {
                margin-right: 2.2rem;
            }
        }
    }
    .main-container{
        display: flex;
        flex-direction: column;
    
        .carousel-container{
            padding: 1.5rem;
            max-height: 650px;
            max-width: 450px;
            margin: auto;
    
            @media screen and (min-width: 1280px) {
                display: none;
            }
            
            .subtitle{
                text-align: center;
                font-size: 32px;
                width: 100%;
                color: $color-white;
                margin: 0;
                margin-bottom: 2rem;
                text-shadow: $txt-shadow;
            }
            .carousel-inner{
                cursor: pointer;
                border-radius: 10px;
                box-shadow: $shadow-1;
                position: relative;
                
                .info{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 65%;
        
                    hr{
                        background-color: $color-white;
                        opacity: 1;
                    }
                    .img-title{
                        color: $color-white;
                        font-size: 24px;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        text-shadow: $txt-shadow;
                        word-wrap: normal;
                    }
                    .price{
                        color: $color-white;
                        text-shadow: $txt-shadow;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                .havana{
                    color: $color-white;
                }
                .rio-janeiro::after{
                    content: " Janeiro";
                    text-transform: uppercase;
                    color: green;
                    letter-spacing: 2px;
                }
                .buenos-aires::after{
                    content: " Aires";
                    text-transform: uppercase;
                    color: yellow;
                    letter-spacing: 2px;
                }
            }
        }
        .img-fluid{
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        ._buenos_aires{
            background-image: url(../assets/img/buenos-aires-desktop.jpg);
        }
        ._havana{
            background-image: url(../assets/img/havana-desktop.jpg);
        }
        ._rio_janeiro{
            background-image: url(../assets/img/rio-janeiro-desktop.jpg);
        }
        .trip{
            display: none;
            width: 100%;
            height: 800px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            @media screen and (min-width: 1280px) {
                display: block;
            }
    
            .trip-content{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
    
                &_title{
                    color: $color-white;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 70px;
                    margin-top: 5rem;
                    margin-left: 5rem;
                    margin-bottom: 1rem;
                    text-shadow: $txt-shadow;
                }
                &_price{
                    font-size: 70px;
                    text-shadow: $txt-shadow;
                    margin-left: 13rem;
                    color: $color-white;
                }
            }
            button{
                background: #FEBA0B;
                padding: 1rem 40px;
                cursor: pointer;
                color: $color-white;
                border-radius: 20px;
                box-shadow: $shadow-1;
                font-weight: 300;
                border: none;
                font-size: 1.2rem;
                width: 12rem;
                text-transform: uppercase;
                position: absolute;
                bottom: 7rem;
                right: 5rem;
                transition: ease 150ms all;
    
                &:hover{
                    color: #FEBA0B;
                    background-color: $color-white;
                    transform: scale(1.05);
                }
                &:hover .trip-container{
                    filter: grayscale(100%);
                }
            }
        }
        .form-container{
            padding: 1.5rem;
            height: 100%;
            width: 100%;
            @media screen and (min-width: 1280px) {
                width: 50%;
                margin: auto;
            }

            .form{
                width: 100%;
                padding: 3rem 2.5rem;
                background-color: rgba($color: #fff, $alpha: .9);
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 10px;
                box-shadow: $shadow-1;
                @media screen and (min-width: 1280px) {
                    padding: 4.2rem;
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 3rem;
                    row-gap: 2rem;
                }
                
                .section-1{
                    width: 100%;
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                }
                .section-2{
                    width: 100%;
                    grid-row: 1 / 2;
                    grid-column: 1 / 2;
                }
                .label{
                    font-family: 'Source Code Pro', monospace;
                    margin-bottom: .7rem;
                    color: rgba($color: #000000, $alpha: .7);
                    font-size: 14px;
                    display: block;
                }
                .label-fees, .label-username, .label-mail{
                    &::after{
                        content: " *";
                        color: rgb(201, 4, 4);
                    }
                } 
    
                .select{
                    font-family: 'Source Code Pro', monospace;
                    padding: 6px 12px;
                    font-size: 13px;
                    margin-bottom: 2rem;
                    color: rgba($color: #000000, $alpha: .7);
                    width: 100%;
    
                    .options{
                        font-family: 'Source Code Pro', monospace;
                        font-size: 14px;
                        color: rgba($color: #000000, $alpha: .7);
                    }
                }
    
                .input{
                    background-color: transparent;
                    margin-bottom: 2rem;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #000;
                    border-radius: 0;
                    padding: 10px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    font-family: 'Source Code Pro', monospace;
                    font-size: 14px;
                    color: #333;
                    width: 100%;

                    @media screen and (min-width: 1280px) {
                        width: 100%;
                    }
        
                    &::placeholder{
                        color: #555;
                    }
                    &:focus{
                        border-color: #999;
                    }
                }
                .text-area{
                    resize: none;
                    @media screen and (min-width: 1280px) {
                        margin: 0;
                    }
        
                    &::placeholder{
                        color: #111;
                    }
                }
                .submit-btn{
                    width: 45%;
                    margin: auto;
                    outline: none;
                    color: $color-black;
                    padding: 12px 0;
                    border: 1px solid $color-black;
                    border-radius: 5px;
                    background-color: $color-white;
                    transition: ease 150ms all;
                    grid-column: 1 / 3;

    
                    &:hover{
                        color: $color-white;
                        background-color: $color-black;
                        border: 1px solid transparent;
                        border-radius: 5px;
                    }
                    @media screen and (min-width: 1280px) {
                        padding: .9rem 2.5rem;
                        width: auto;
                    }
                }
                p{
                    margin: 0;
                    margin-top: 1.42rem;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    .modal-cart{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        background-color: rgba(0, 0, 0, .9);
        border-radius: $border-radius;
        padding: 2.5rem 2.5rem;

        .fa-times{
            color: $color-white;
            font-size: 24px;
            position: absolute;
            right: 1.7rem;
            top: 1.7rem;
            cursor: pointer;

            &:hover{
                color: rgb(187, 23, 50);
            }
        }
        .modal-cart-title{
            color: $color-white;
            margin: 0;
            padding: 0;
            font-size: 25px;
            margin-bottom: 1rem;
            margin-top: .5rem;

            .fa-luggage-cart{
                margin-right: .5rem;
                line-height: unset;
            }
        }

        hr{
            opacity: 1;
            background-color: $color-white;
            margin: 0;
            padding: 0;
            margin-bottom: 1rem;
        }
        .modal-cart-content{
            padding: 0 1rem;
            width: 100%;
            margin-top: .5rem;

            .trip{
                display: grid;
                grid-template-columns: repeat(3, 1fr) auto;
                width: 100%;

                p{
                    color: $color-white;
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    font-family: 'PT Sans Narrow', sans-serif;
                    text-align: start;
                }
                .fa-trash{
                    margin: 0;
                    padding: 0;
                    color: $color-white;
                    cursor: pointer;
                    text-align: end;
                    line-height: unset;

                    &:hover{
                        color: rgb(187, 23, 50);
                    }
                }
            }
        }
    }
}
.red{
    color: rgb(220, 1, 1);
    font-family: sans-serif;
    margin-top: 1.2rem;
}
.green{
    color: rgb(13, 84, 17);
    text-align: center;
    margin-top: 1.2rem;
    font-family: sans-serif;
}
.tripData{
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    text-align: center;
    margin-top: .5rem;
}
.flex-box{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    button{
        padding: 8px 12px;
        border-radius: 6px;
        outline: none;
        text-transform: uppercase;
        background-color: $color-white;
        border: 1px solid $color-black;
    }
}

.popup{
    background-color: rgba($color: #ffffff, $alpha: .92);
    border-radius: $border-radius;
    width: 85%;
    margin: auto;
    padding: 2rem 4.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $shadow-1;
    transition: ease 400ms all;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media screen and (min-width: 1280px) {
        width: 60%;
    }
    
    .fa-times{
        color: rgba($color: #777777, $alpha: 1.0);
        font-size: 20px;
        display: block;
        position: absolute;
        top: 1rem;
        right: 1.2rem;
        cursor: pointer;
        transition: transform ease 150ms;
        
        &:hover{
            color: rgb(200, 8, 10);
        }
    }
    h3{
        text-align: center;
        letter-spacing: 1px;
        margin: 0;
    }
    .button{
        margin-top: 1.5rem;
        background-color: $color-white;
        padding: 10px 2rem;
        border: 1px ridge $color-black;
        border-radius: 5px;
        transition: ease 150ms all;
        &:hover{
            transform: scale(1.07);
            background-color: rgb(20, 20, 20);
            color: $color-white;
        }
    }
    p{
        text-align: center;
        margin: 0;
        margin-top: 1.5rem;
        color: #333;
        font-family: 'Source Code Pro', monospace;
    }
}
.cart-container{
    border-radius: 50%;
    background-color: rgba($color: #000000, $alpha: .9);
    box-shadow: $shadow-1;
    position: fixed;
    bottom: 2.5rem;
    left: 2.5rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms all;
    
    .fa-luggage-cart{
        color: $color-white;
        font-size: 1.5rem;
    }
    .cart-indicator{
        background-color: rgb(189, 33, 27);
        border-radius: 50%;
        padding: 5px 11px;
        box-shadow: $shadow-1;
        position: absolute;
        top: 0;
        right: 0;
        color: $color-white;
        margin-top: -.5rem;
    }
}

.cart{
    @media screen and (min-width: 1280px) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        max-height: 90%;
        overflow-y: scroll;
        width: 60%;
        background-color: rgba($color: #000000, $alpha: .9);
        border-radius: $border-radius;
        padding: 3rem 2rem;
        visibility: hidden;
        opacity: 0;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 350ms all;
    }
}
.cart-modal{
    width: 40%;
    height: 10rem;
    border-radius: $border-radius;
    box-shadow: $shadow-1;
    background-color: rgba($color: #000000, $alpha: .9);
    position: fixed;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    z-index: 100;
    padding: 2rem;

    &__title{
        font-size: 20px;
        color: $color-white;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    hr{
        opacity: 1;
        margin-top: .5rem;
        background-color: $color-white;
    }
    &__products-in-cart{
        .product{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            
            .product-img{
                width: 4rem;
                height: 3.5rem;
                border-radius: .5rem;
                margin: 0;
                padding: 0;
            }
            .product-details{
                margin: 0;
                display: flex;
                gap: 1rem;
                align-items: center;
                color: $color-white;
            }
        }
    }
}
.arrow-container{
    background-color: rgba($color: #ffffff, $alpha: .95);
    border-radius: 50%;
    box-shadow: $shadow-1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms all;
    
    .fa-angle-up{
        color: $color-black;
        font-size: 2.7rem;
    }
}
.fade-in-left{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.fade-in-right{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.visible{
    transform: translate(0) !important;
    opacity: 1 !important;
    visibility: visible;
}
.modal-menu{
    position: fixed;
    top: 1.5rem;
    right: 9rem;
    background-color: rgba($color: #fff, $alpha: .93);
    border-radius: 40px;
    width: 400px;
}
.alert-success{
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    box-shadow: $shadow-1;
    z-index: 1000;
    margin: auto;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms all;
    @media screen and (min-width: 1280px){
        width: 30%;
        right: 2rem;
        left: auto;
    }
}
.fade-in-top{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.hidden{
    display: none;
}