@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
footer {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  border-radius: 25px 25px 0 0;
}
@media screen and (min-width: 1280px) {
  footer {
    height: 11rem;
  }
}
footer .social-media {
  position: absolute;
  top: 1.7rem;
  right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 1280px) {
  footer .social-media {
    top: 2.5rem;
    right: 3.1rem;
  }
}
footer .social-media i {
  line-height: unset;
  color: #fff;
  font-size: 30px;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (min-width: 1280px) {
  footer .social-media i {
    font-size: 40px;
  }
}
footer .social-media i:hover {
  color: #FEBA0B;
  transform: translateY(-7px);
}
footer p {
  text-align: center;
  word-wrap: break-word;
  color: #fff;
  font-family: sans-serif;
  font-size: 13px;
  text-shadow: 2px 4px 5px #000000;
  letter-spacing: 1px;
  font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@media screen and (min-width: 1280px) {
  footer p {
    font-size: 17px;
  }
}
footer p::after {
  content: " Alan Martinez.";
  color: #FEBA0B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url(../assets/img/fondo/fondo.jpg);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.nav-mobile {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .nav-mobile {
    display: none;
  }
}
.nav-mobile .menu-btn {
  position: fixed;
  right: 0;
  top: 0;
  margin: 0.5rem;
  cursor: pointer;
  z-index: 200;
}
@media screen and (min-width: 1280px) {
  .nav-mobile .menu-btn {
    visibility: hidden;
  }
}
.nav-mobile .menu-btn .fa-bars {
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  padding: 10px;
}
.nav-mobile .menu-btn .fa-times {
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  padding: 10px;
  transition: transform ease 500ms;
}
.nav-mobile .menu-btn .fa-times:hover {
  transform: rotate(90deg);
}
.nav-mobile .list {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 80%;
  gap: 2.5rem;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 180;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  transition: ease-out all 500ms;
}
@media screen and (min-width: 1280px) {
  .nav-mobile .list {
    visibility: hidden;
  }
}
.nav-mobile .list .link {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-mobile .list .link:hover .list__item {
  color: #444;
}
.nav-mobile .list .link:hover .icons {
  color: #444;
}
.nav-mobile .list .link .icons {
  color: #fff;
  font-size: 26px;
  height: 31px;
}
.nav-mobile .list__item {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  margin: 0;
  margin-left: 14px;
  padding: 0;
  vertical-align: bottom;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 2rem;
  width: 40%;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 5rem;
  z-index: 200;
}
.login-form .login-form-title {
  color: #fff;
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.login-form hr {
  opacity: 0.9;
  background-color: #fff;
  margin: 0.8rem 0;
  margin-bottom: 1.5rem;
}
.login-form .mb-3 .form-label {
  color: #fff;
  font-size: 15px;
}

.nav-desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .nav-desktop {
    display: block;
  }
}
.nav-desktop .btn-menu-container {
  height: 4.5rem;
  width: 4.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  z-index: 250;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.nav-desktop .btn-menu-container .fa-bars {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.nav-desktop .hide-background {
  background: none;
}
.nav-desktop .list {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 17rem;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  transform: translateX(-100%);
  opacity: 0;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1) 600ms all;
}
.nav-desktop .list .list-item {
  width: 90%;
  font-size: 28px;
  margin: 0;
  margin-left: auto;
}
.nav-desktop .list .list-item a {
  text-decoration: none;
  color: #fff;
  line-height: unset;
  text-transform: uppercase;
}
.nav-desktop .list .list-item a:hover {
  color: #1e1e1e;
}
.nav-desktop .list .list-item a i {
  line-height: unset;
  margin-right: 0.7rem;
}
.nav-desktop .weather-container {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.nav-desktop .weather-container .location {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 1000;
  cursor: pointer;
}
.nav-desktop .weather-container .location:hover {
  color: #fff;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 4px 5px #000000;
  position: absolute;
  left: 2rem;
  padding: 1rem 0;
  margin: 0;
}
.title::after {
  content: "AR.";
  color: #c80b2b;
  font-size: 40px;
  text-shadow: 2px 4px 5px #000000;
}

main .search-container {
  width: 85%;
  height: 4.5rem;
  margin: 6.5rem auto 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
@media screen and (min-width: 1280px) {
  main .search-container {
    width: 50rem;
    margin: 5rem auto;
    margin-bottom: 7rem;
    height: 5rem;
  }
}
main .search-container .search {
  padding: 0rem 1.5rem;
  padding-right: 1rem;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
  color: #333;
  border-radius: 0;
  outline: none;
}
main .search-container .search:focus {
  background-color: transparent;
}
main .search-container .search:focus ~ .fa-search {
  color: #000;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
main .search-container .search::-moz-placeholder {
  color: rgba(68, 68, 68, 0.9);
}
main .search-container .search:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.9);
}
main .search-container .search::placeholder {
  color: rgba(68, 68, 68, 0.9);
}
@media screen and (min-width: 1280px) {
  main .search-container .search {
    padding: 0rem 2rem;
    font-size: 23px;
  }
}
main .search-container .fa-search {
  margin: 0;
  padding: 0;
  margin-right: 1.5rem;
  margin-left: auto;
  font-size: 1.5rem;
  cursor: pointer;
  color: #999;
  transform: translateX(80px);
  opacity: 0;
  visibility: hidden;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 350ms;
}
@media screen and (min-width: 1280px) {
  main .search-container .fa-search {
    transform: translateX(60px);
    margin-right: 2.2rem;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
  }
}
main .main-container {
  display: flex;
  flex-direction: column;
}
main .main-container .time-container {
  margin-left: 2rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
}
main .main-container .time-container .time {
  font-size: 65px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}
main .main-container .time-container .time .seconds {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  margin-left: 4px;
}
main .main-container .time-container .am-pm {
  font-size: 35px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}
main .main-container .carousel-container {
  padding: 1.5rem;
  margin: auto;
}
@media screen and (min-width: 1280px) {
  main .main-container .carousel-container {
    display: none;
  }
}
main .main-container .carousel-container .carousel-inner {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  position: relative;
}
main .main-container .carousel-container .carousel-inner .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}
main .main-container .carousel-container .carousel-inner .info hr {
  background-color: #fff;
  opacity: 1;
}
main .main-container .carousel-container .carousel-inner .info .img-title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 4px 5px #000000;
  word-wrap: normal;
}
main .main-container .carousel-container .carousel-inner .info .price {
  color: #fff;
  text-shadow: 2px 4px 5px #000000;
  text-align: center;
  font-size: 20px;
}
main .main-container .carousel-container .carousel-inner .havana {
  color: #fff;
}
main .main-container .carousel-container .carousel-inner .rio-janeiro::after {
  content: " Janeiro";
  text-transform: uppercase;
  color: green;
  letter-spacing: 2px;
}
main .main-container .carousel-container .carousel-inner .buenos-aires::after {
  content: " Aires";
  text-transform: uppercase;
  color: yellow;
  letter-spacing: 2px;
}
main .main-container .img-fluid {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .main-container ._buenos_aires {
  background-image: url(../assets/img/buenos-aires-desktop.jpg);
}
main .main-container ._havana {
  background-image: url(../assets/img/havana-desktop.jpg);
}
main .main-container ._rio_janeiro {
  background-image: url(../assets/img/rio-janeiro-desktop.jpg);
}
main .main-container ._madrid {
  background-image: url(../assets/img/madrid-desktop.jpg);
}
main .main-container ._paris {
  background-image: url(../assets/img/paris-desktop.jpg);
}
main .main-container ._new-york {
  background-image: url(../assets/img/new-york-desktop.jpg);
}
main .main-container ._dubai {
  background-image: url(../assets/img/dubai-desktop.jpg);
}
main .main-container ._roma {
  background-image: url(../assets/img/roma-desktop.jpg);
}
main .main-container .trips-container {
  padding: 1.5rem;
}
main .main-container .trips-container .travels-title {
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
main .main-container .trips-container hr {
  opacity: 1;
  height: 2px;
  margin-bottom: 2rem;
}
main .main-container .trips-container .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}
main .main-container .trips-container .grid-container .trip {
  display: none;
  width: 100%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  main .main-container .trips-container .grid-container .trip {
    display: block;
  }
}
main .main-container .trips-container .grid-container .trip .trip-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
main .main-container .trips-container .grid-container .trip .trip-content_title {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 50px;
  margin-top: 5rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 4px 5px #000000;
}
main .main-container .trips-container .grid-container .trip .trip-content_price {
  font-size: 50px;
  text-shadow: 2px 4px 5px #000000;
  margin-left: 13rem;
  color: #fff;
}
main .main-container .trips-container .grid-container .trip button {
  background: #FEBA0B;
  padding: 1rem 40px;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  font-weight: 300;
  border: none;
  font-size: 1.2rem;
  width: 12rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 3.7rem;
  right: 3.5rem;
  transition: ease 150ms all;
}
main .main-container .trips-container .grid-container .trip button:hover {
  color: #FEBA0B;
  background-color: #fff;
  transform: scale(1.05);
}
main .main-container .form-container {
  padding: 1.5rem;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container {
    width: 60%;
    margin: auto;
  }
}
main .main-container .form-container .form {
  width: 100%;
  padding: 3rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form {
    padding: 4.2rem;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    row-gap: 2rem;
  }
}
main .main-container .form-container .form .form-title {
  width: 100%;
  text-align: start;
  text-transform: uppercase;
  grid-row: 1/2;
  grid-column: 1/3;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .form-title {
    margin: 0;
  }
}
main .main-container .form-container .form .section-1 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
}
main .main-container .form-container .form .section-2 {
  width: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
}
main .main-container .form-container .form .label {
  font-family: "Source Code Pro", monospace;
  margin-bottom: 0.7rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  display: block;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .label {
    font-size: 17px;
  }
}
main .main-container .form-container .form .label-fees::after, main .main-container .form-container .form .label-username::after, main .main-container .form-container .form .label-mail::after, main .main-container .form-container .form .label-destination::after {
  content: " *";
  color: #c90404;
}
main .main-container .form-container .form .select {
  font-family: "Source Code Pro", monospace;
  padding: 6px 12px;
  font-size: 13px;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .select {
    font-size: 15px;
  }
}
main .main-container .form-container .form .select .options {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .select .options {
    font-size: 16px;
  }
}
main .main-container .form-container .form .input {
  background-color: transparent;
  margin-bottom: 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  color: #333;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .input {
    width: 100%;
    font-size: 17px;
  }
}
main .main-container .form-container .form .input::-moz-placeholder {
  color: #777;
}
main .main-container .form-container .form .input:-ms-input-placeholder {
  color: #777;
}
main .main-container .form-container .form .input::placeholder {
  color: #777;
}
main .main-container .form-container .form .input:focus {
  border-color: #777;
}
main .main-container .form-container .form .text-area {
  resize: none;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .text-area {
    margin: 0;
    grid-column: 1/3;
    font-size: 17px;
  }
}
main .main-container .form-container .form .text-area::-moz-placeholder {
  color: #777;
}
main .main-container .form-container .form .text-area:-ms-input-placeholder {
  color: #777;
}
main .main-container .form-container .form .text-area::placeholder {
  color: #777;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .text-area::-moz-placeholder {
    font-size: 17px;
  }
  main .main-container .form-container .form .text-area:-ms-input-placeholder {
    font-size: 17px;
  }
  main .main-container .form-container .form .text-area::placeholder {
    font-size: 17px;
  }
}
main .main-container .form-container .form .submit-btn {
  width: 45%;
  margin: auto;
  outline: none;
  color: #000;
  padding: 12px 0;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  transition: ease 150ms all;
  grid-column: 1/3;
}
@media screen and (min-width: 1280px) {
  main .main-container .form-container .form .submit-btn {
    padding: 1.3rem 3rem;
    width: auto;
    font-size: 17px;
  }
}
main .main-container .form-container .form .submit-btn:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 5px;
}
main .main-container .form-container .form .respuesta {
  margin: auto;
  margin-top: 1.42rem;
  width: 100%;
  text-align: center;
}
main .modal-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 2.5rem 2.5rem;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  z-index: 150;
}
@media screen and (min-width: 1280px) {
  main .modal-cart {
    width: 45%;
  }
}
main .modal-cart .fa-times {
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 1.7rem;
  top: 1.7rem;
  cursor: pointer;
}
main .modal-cart .fa-times:hover {
  color: #bb1732;
}
main .modal-cart .modal-cart-title {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 25px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
main .modal-cart .modal-cart-title .fa-luggage-cart {
  margin-right: 0.5rem;
  line-height: unset;
}
main .modal-cart hr {
  opacity: 1;
  background-color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
main .modal-cart .modal-cart-content {
  padding: 0 1rem;
  width: 100%;
  margin-top: 1.6rem;
}
main .modal-cart .modal-cart-content .trip {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  width: 100%;
}
main .modal-cart .modal-cart-content .trip p {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: start;
}
main .modal-cart .modal-cart-content .trip p .fa-user {
  margin-right: 0.5rem;
  line-height: unset;
}
main .modal-cart .modal-cart-content .trip .fa-trash {
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  text-align: end;
  line-height: unset;
}
main .modal-cart .modal-cart-content .trip .fa-trash:hover {
  color: #bb1732;
}
main .modal-cart .modal-cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
main .modal-cart .modal-cart-footer .total-price {
  color: #fff;
  margin: auto;
  margin-left: 1rem;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  order: 1;
}
main .modal-cart .modal-cart-footer .btn-modal-cart {
  order: 2;
  background: rgba(254, 186, 11, 0.95);
  padding: 0.9rem 1.8rem;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  font-weight: 300;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: ease 150ms all;
}
main .modal-cart .modal-cart-footer .btn-modal-cart:hover {
  color: #FEBA0B;
  background-color: #fff;
  transform: scale(1.03);
}

.red {
  color: #dc0101;
  font-family: sans-serif;
  margin-top: 1.2rem;
}

.green {
  color: #0d5411;
  text-align: center;
  margin-top: 1.2rem;
  font-family: sans-serif;
}

.tripData {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  text-align: center;
  margin-top: 0.5rem;
}

.flex-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.flex-box button {
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #000;
}

.popup {
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 10px;
  width: 85%;
  margin: auto;
  padding: 2rem 4.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  transition: ease 400ms all;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .popup {
    width: 60%;
  }
}
.popup .fa-times {
  color: #777777;
  font-size: 20px;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  cursor: pointer;
  transition: transform ease 150ms;
}
.popup .fa-times:hover {
  color: #c8080a;
}
.popup h3 {
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
}
.popup .button {
  margin-top: 1.5rem;
  background-color: #fff;
  padding: 10px 2rem;
  border: 1px ridge #000;
  border-radius: 5px;
  transition: ease 150ms all;
}
.popup .button:hover {
  transform: scale(1.07);
  background-color: #141414;
  color: #fff;
}
.popup p {
  text-align: center;
  margin: 0;
  margin-top: 1.5rem;
  color: #333;
  font-family: "Source Code Pro", monospace;
}

.cart-container {
  border-radius: 50%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms all;
}
.cart-container .fa-luggage-cart {
  color: #fff;
  font-size: 1.5rem;
}
.cart-container .cart-indicator {
  background-color: #bd211b;
  border-radius: 50%;
  padding: 5px 11px;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  margin-top: -0.5rem;
}

@media screen and (min-width: 1280px) {
  .cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 90%;
    overflow-y: scroll;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 3rem 2rem;
    visibility: hidden;
    opacity: 0;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 350ms all;
  }
}

.cart-modal {
  width: 40%;
  height: 10rem;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 2rem;
}
.cart-modal__title {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.cart-modal hr {
  opacity: 1;
  margin-top: 0.5rem;
  background-color: #fff;
}
.cart-modal__products-in-cart .product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cart-modal__products-in-cart .product .product-img {
  width: 4rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
}
.cart-modal__products-in-cart .product .product-details {
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #fff;
}

.arrow-container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 50%;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms all;
}
.arrow-container .fa-angle-up {
  color: #000;
  font-size: 2.7rem;
}

.fade-in-left {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.fade-in-right {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.visible {
  transform: translate(0) !important;
  opacity: 1 !important;
  visibility: visible;
}

.modal-menu {
  position: fixed;
  top: 1.5rem;
  right: 9rem;
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 40px;
  width: 400px;
}

.alert-success {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  z-index: 1000;
  margin: auto;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 350ms all;
}
@media screen and (min-width: 1280px) {
  .alert-success {
    width: 30%;
    right: 2rem;
    left: auto;
  }
}

.alert-danger {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  box-shadow: 0px 0px 22px 1px rgba(0, 0, 0, 0.75);
  z-index: 1000;
  margin: auto;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 350ms all;
}
@media screen and (min-width: 1280px) {
  .alert-danger {
    width: 30%;
    right: 2rem;
    left: auto;
  }
}
.alert-danger .fa-trash {
  line-height: unset;
  margin-right: 0.7rem;
}

.fade-in-top {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.hidden {
  display: none;
}/*# sourceMappingURL=estilos.css.map */